.bubbles
.container
   .links
      .link(data-display='New Game')
      .link(data-display='Load Game')
      .link(data-display='Options')
      .link(data-display='Cinematic')
      .link(data-display='Exit')